.profile{
    margin: 0 auto;
    padding: 40px 0 0 0;
    width: calc(100% - 400px);
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1100px) {
    .profile{
        width: calc(100% - 200px);
    }
}
@media screen and (max-width: 790px) {
    .profile{
        width: calc(100% - 50px);
    }
}
@media screen and (max-width: 600px) {
    .profile{
        width: calc(100% - 38px);
        flex-direction: column;
        align-items: center;
    }
}