.profile__info{
    margin: 0;
    padding: 0 0 0 30px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 18px;
    row-gap: 10px;
    align-items: center;
    flex-grow: 5;
    position: relative;
}

@media screen and (max-width: 650px) {
    .profile__info{
        margin: 0 auto;
        width: calc(100% - 74px);
        grid-template-columns: auto;
        padding: 0 0 34px 0;
        justify-items: center;
       
    }
}